@if (user()) {
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div>
          <h4 class="mb-3">Hello, {{ user()?.name }}</h4>

          <div class="mb-3">
            <h5>Total Balance: {{ totalAmount() | currency: 'COP' }}</h5>
            <p class="m-0">Available Balance: {{ user()?.balance | currency: 'COP' }}</p>
            <p class="m-0">Invested Amount: {{ investedAmount() | currency: 'COP' }}</p>
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-primary" routerLink="/transaction-history">
            Check Transaction History
          </button>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped align-middle">
          <thead class="table-light">
            <tr>
              <th>ID</th>
              <th>Fund Name</th>
              <th>Amount</th>
              <th>Category</th>
              <th>Notification</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            @for (fund of subscribedFunds(); track fund.id) {
              <tr>
                <td>{{ fund.id }}</td>
                <td>{{ fund.name }}</td>
                <td>
                  {{ fund.amount | currency: 'COP' }}
                  <span [class]="fund.returnRate >= 0 ? 'text-success' : 'text-danger'"
                    >({{ formatReturnRate(fund.returnRate) }})</span
                  >
                </td>
                <td>{{ fund.category }}</td>
                <td>{{ fund.notificationPreference }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#cancelModal"
                    (click)="selectFund(fund)"
                  >
                    Cancel
                  </button>
                </td>
              </tr>
            } @empty {
              <tr>
                <td colspan="6" class="text-center">No funds yet</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
} @else {
  @if (isLoading()) {
    <div class="card">
      <div class="card-body">
        <h4 class="mb-3">Hello, ...</h4>

        <div class="mb-3">
          <h5>Total Balance: {{ 0 | currency: 'COP' }}</h5>
          <p class="m-0">Available Balance: {{ 0 | currency: 'COP' }}</p>
          <p class="m-0">Invested Amount: {{ 0 | currency: 'COP' }}</p>
        </div>
        <div class="spinner-border mx-3" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  }
}

<app-cancel-dialog
  [fundName]="selectedFund()?.name ?? ''"
  (cancelFund)="cancelFund()"
></app-cancel-dialog>
