<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 d-flex">
  <span class="navbar-brand text-white">Fund Management</span>

  <div class="navbar-nav">
    <a routerLink="/dashboard" routerLinkActive="underline" class="nav-link">Dashboard</a>
    <a routerLink="/available-funds" routerLinkActive="underline" class="nav-link text-white"
      >Available Funds</a
    >
    <a routerLink="/transaction-history" routerLinkActive="underline" class="nav-link text-white"
      >Transactions</a
    >
  </div>
</nav>
